service: set-fullname-on-hdm-gitlab

# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs12.x
  environment:
    CUSTOM_CHROME: true

plugins:
  - serverless-dotenv-plugin

individually: true

# you can overwrite defaults here
#  stage: dev
region: eu-central-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
package:
#  include:
#    - include-me.js
#    - include-me-dir/**
 exclude:
   - .vscode/**
   - header.png
   - README.md
   - .env.example
   - .eslintrc.js
   - Dockerfile
   - node_modules/puppeteer/**

functions:
  setNameOnHdmGitlab:
    handler: src/handler.default
    memorySize: 1536MB
    timeout: 10
    events:
      - schedule: rate(15 minutes)
      #- schedule: cron(0 12 * * ? *)

# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
